@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background-color: black;
    
}

.logo{
    height: 55px;
    width: 55px;
}

.container{
    min-height:1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    
}

.egesz{
    position: relative;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    height: 5rem;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    background-color: black;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    z-index: -1;
}



.navbar a{
    font-weight: 500;
    margin-left: 2.5rem;
    text-decoration: none;
    color: rgb(207, 207, 207);
    transition: 0.2s ease;
}

.navbar a:hover{
    color: #fff;
}


#check{
    display: none;
}


.icons{
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    right: 5%;
}

/*breakpoints*/

@media (max-width: 1072px) {
    .header{
        padding: 1.3rem 5%;
    }  

    .banner{
        display: flex;
        padding-left: 4rem;
        padding-right: 4rem;
        align-items: center;
        
    }
    .banner div ul{
        text-align: center;
        padding: 0;
        padding-top: 2rem;
    }

    .rolunk-oszlop{
        gap: 2.5rem !important;
    }


    .teruletek{
        padding-left: 3rem !important;
    }

    form{
        padding: 2rem !important;
    }

    .transparent-bg h1{
        
        text-align: center;
        padding-top: 5rem !important;
        padding-bottom: 2rem !important;
    }

}

@media (max-width: 768px) {
    .icons{
        display: block;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .header{
        background-color: black;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: black !important;
        transition: .3s ease;
        z-index: 5;
    }
    


    
    #check:checked~.navbar{
        width: 50vw;
    }

    .navbar a{
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        display: block;
        text-align: center;
    }


    .egesz{
        
        background-attachment: scroll !important;
        
        
    }



    .section-4{
        padding: 4rem !important;
    }
    .facts{ 
        grid-template-columns: 1fr !important; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
        
    }

    #about-us{
        padding: 4rem !important;
        text-align: center;
    }

    

    .transparent-bg h1{
        padding: 2rem !important; 
        text-align: center;
    }


    .transparent-bg{
        width: 80% !important;
    }
    

    .rolunk-oszlop{
        text-align: center;
        padding-left: 2rem;
        
        
    }

    #kep{
        display: none;
    }

    .container1::-webkit-scrollbar{
        display: none;
    }

    .kaland{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.1rem !important;
    }




    .footer{
        gap: 2rem !important;
    }



    .underline{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 3rem !important;
        margin-right: 3rem !important;
        margin-bottom: 2rem !important;
    }

    .underline:hover::before{
        display: none;
        width: 0%;
    }

    .magyarazat{
        display: none !important;
    }


}


@media (max-width: 510px){
    
    .teruletek{
        border: none !important;
        outline: none !important;
        padding: 1rem !important;
        
        padding-top: 2rem !important;
        text-align: center;
    }


    .footer{
        flex-direction: column;
    }

    .hero{
        top: 9rem !important;
    }
    
    
}



.img-gallery{
    width: 80%;
    margin: 6rem auto 0.3rem;
    margin-top: 0 !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.8rem;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    height: 30rem;
    transition: 0.4s;
}


.img-gallery img:hover{
    transform: scale(0.95);
    border-radius: 1rem;
}


.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.full-img img{
    width: 90%;
    max-width: 500px;
}


.full-img span{
    position: absolute;
    top: 15%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
}




.underline{
    color: rgb(242, 242, 242);
    margin: 7rem 8rem 1rem 8rem;
    
    display: inline-block;
    position: relative;
    cursor: pointer;
    scroll-behavior: smooth;
}


.underline::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(238, 238, 238);
    transition: width 0.25s ease-out;
}


.underline:hover::before{
    width: 100%;
}

.magyarazat{
    color: rgb(220, 220, 220);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
}


::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background-color:#a55000d5;
    border-radius: 25px;
}


.link{
    outline: none;
    color: transparent;
    text-decoration: none;

}